* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 1.6rem;
}

#app {
  font-family: lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #222;
  overflow: hidden;
}

.weather-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.7s;
}

@media only screen and (max-width: 1250px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 1050px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 950px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
}
