<script>
  import sun from './Sun.html';
  import snow from './Snow.html';
  import rain from './Rain.html';
  import moon from './Moon.html';
  import cloud from './Cloud.html';
  import { colormap, iconColors, iconPositions } from '../../state';

  export let currentIcons, activeTime;
  let currentColors, width, positions;

  $: currentColors = {
    accent: $colormap[$iconColors[activeTime].accent],
    primary: $colormap[$iconColors[activeTime].primary],
  };

  const iconComponents = { sun, snow, rain, moon, cloud };

  $: positions = width < 800 ? $iconPositions['small'] : $iconPositions['big'];
</script>

<svelte:window bind:innerWidth="{width}" />

<div
  style="transform: translate({positions[activeTime][0] * (width-60)}px, {positions[activeTime][1] * (width-60)}px); transition: 0.5s;"
  class="icon {activeTime}"
>
  {#each currentIcons as icon (icon)}
  <svelte:component this="{iconComponents[icon]}" color="{currentColors}" />
  {/each}
</div>

<style>
  div {
    position: absolute;
    width: 20vw;
    max-width: 250px;
    left: 0;
    top: 10%;
    bottom: 0;
    z-index: 998;
    overflow: visible;
    backface-visibility: hidden;
    pointer-events: none;
    transform-origin: 50% 50%;
  }

  @media only screen and (max-width: 800px) {
    svg {
      width: 40%;
      right: 55vw;
      left: unset;
      top: 0;
      z-index: 999;
      overflow: visible;
    }
  }
</style>
