<svelte:options namespace="svg" />

<g fill="{color}" class="sun" transform="translate(15 9)">
  <circle stroke-width="7" cx="35" cy="35" r="11.5"/>
  <rect y="32" width="10" height="6" rx="3"/>
  <rect x="60" y="32" width="10" height="6" rx="3"/>
  <rect transform="rotate(45 13.656854 13.656854)" x="8.65685425" y="10.6568542" width="10" height="6" rx="3"/>
  <rect transform="scale(-1 1) rotate(45 0 -123.12489133)" x="51.6568542" y="10.6568542" width="10" height="6" rx="3"/>
  <rect transform="scale(-1 1) rotate(45 0 23.68629185)" x="8.65685425" y="53.6568542" width="10" height="6" rx="3"/>
  <rect transform="rotate(45 56.656854 56.656854)" x="51.6568542" y="53.6568542" width="10" height="6" rx="3"/>
  <rect transform="rotate(90 35 5)" x="30" y="2" width="10" height="6" rx="3"/>
  <rect transform="rotate(90 35 65)" x="30" y="62" width="10" height="6" rx="3"/>
</g>

<style >

  </style>
